html {
  background: white;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.75;
  word-spacing: 0.1em;
  font: normal medium 'Gill Sans','Gill Sans MT','Goudy Bookletter 1911','Linux Libertine O','Liberation Serif',Candara,serif;
}

section {
  margin: 2em auto;
}

section.main {
  width: 70%;
  min-width: 40em;
}

section.login {
  width: 10em;
}
