<ul>
<% @statuses.each do |status| -%>
  <li><%= render :partial => 'shared/status',
                 :object => status %></li>
<% end -%>
</ul>

<% if @more -%>
  <%= link_to "see more", statuses_path %>
<% end -%>