<%= content_for :projects_bar %>

<section class="main">
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>
  <section class="content">
    <%= yield %>
  </section>
</section>

<div class="forkme">
  <a href="https://github.com/waterfield/status_board" target="_blank">Fork me on GitHub!</a>
</div>
