<section class="main">
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>
  <%= yield %>
</section>

<div class="forkme">
  <a href="https://github.com/waterfield/status_board" target="_blank">Fork me on GitHub!</a>
</div>
