<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <% if person_signed_in? -%>
      <%= render 'layouts/header' %>
      <%= render 'layouts/main' %>
    <% else -%>
      <%= render 'layouts/login' %>
    <% end -%>
  </body>
</html>
